# Python кеши и временные файлы
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (если создашь venv)
venv/
env/

# Логи и прочие временные файлы
*.log

# Файлы IDE (например, PyCharm)
.idea/
.vscode/

# Файлы настроек, которые не стоит заливать с токенами и ключами
config.py

# Системные файлы
.DS_Store
